* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

/* Evitar el scroll horizontal */
html, body {
    overflow-x: hidden; /* Esto asegura que no haya scroll horizontal */
    margin: 0; /* Evitar cualquier margen por defecto */
}

/* Imagen de fondo */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Asegura que ocupe toda la altura */
    background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center center; /* Asegura que la imagen siempre esté centrada */
    z-index: -1;
    background-color: #1a3151;
}

/*Contenedor del carrusel*/
#imagen-principal .carrusel {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

/* Imagenes del carrusel */
#imagen-principal .carrusel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin deformarse */
    opacity: 0;
    transition: opacity 01s ease-in-out;
    z-index: 0;
}

/* Imagen activa del carrusel */
#imagen-principal .carrusel img.activa {
    opacity: 1;
    z-index: 1;
}

/* Botones del carrusel */

/* Contenedor de la imagen */
#imagen-principal {
    position: relative;
    width: 100%;
    height: 80vh; /* Puedes ajustar la altura según sea necesario */
    overflow: hidden; /* Es importante para evitar que la imagen se desborde */
}

/* La imagen dentro del contenedor */
#imagen-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin deformarse */
    object-position: center; /* Centra la imagen en el contenedor */
}



#cartel-novios {
    display: flex;
    justify-content: center;
    height: 100%;
    position: center;
    text-align: center;

}

#cartel-novios .contenido-principal {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 1rem;
    border-radius: 5%;
    max-width: 70%;
    max-height: 45%;
    width: 100%;
    height: 100%;
}

#cartel-novios h1 {
    text-align: center;
    margin: center;
    font-size: 5rem;
    margin-bottom: 1rem;
}

#cartel-novios .frase {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#cartel-novios .linea-divisora {
    border: 0;
    height: 2px;
    background-color: #fff;
    margin: 15px auto;
    width: 80%;
    opacity: 0.8;
}

#cartel-novios .fecha {
    font-size: 1.5rem;
}

/* Media Queries para hacerlo responsive */
@media (max-width: 768px) {
    #cartel-novios h1 {
        font-size: 3rem;
    }

    #cartel-novios .frase {
        font-size: 1.5rem;
    }

    #cartel-novios .fecha {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    

    #cartel-novios h1 {
        font-size: 2.5rem;
    }

    #cartel-novios .frase {
        font-size: 1.5rem;
        font-family: 'Dancing Script', cursive;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    }

    #cartel-novios .fecha {
        font-size: 1rem;
        font-family: 'Dancing Script', cursive;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    }
}


/*Seccion franja azul*/
#franja-azul {
    background-color: #1a3151; /* Azul de fondo */
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.franja1 {
    max-width: 1200px;
    padding: 0 15px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}


.contenido-franja1 {
    margin-top:auto;
    margin-bottom: auto;
    text-align: center;
    font-weight: 550;
}

.mensaje {
    color: #fff;
    font-size: 3.5rem;
    font-family: 'Satisfy', cursive;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.linea-divisora2 {
    border: 0;
    border-top: 2px solid #fff;
    margin: 10px auto;
    width: 60%;
}

/*Disenio de contador*/
.contador {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;
    color: #fff;
    text-align: center;
}

.contador span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #a7b467;
}

@media (max-width: 768px) {
    .mensaje {
        font-size: 1.5rem; /* Reducir tamaño de fuente en móviles */
    }

    .contador {
        font-size: 1.2rem; /* Reducir tamaño del contador en móviles */
    }

    #franja-azul {
        padding: 20px 0; /* Reducir espaciado en móviles */
        justify-content: center;
        text-align: center;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

    }

    .linea-divisora2 {
        width: 80%; /* Hacer la línea divisora más ancha en móviles */
    }
    
}

@media (max-width: 480px) {
    .mensaje {
        font-size: 1.2rem; /* Reducir aún más el tamaño del mensaje */
    }

    .contador {
        font-size: 1rem; /* Reducir aún más el tamaño del contador */
    }

    .franja1 {
        padding: 0 15px;
    }

    #franja-azul {
        padding: 20px 0;
        
    }

    .linea-divisora2 {
        width: 90%; /* Hacer la línea divisora aún más ancha en pantallas pequeñas */
    }
}



/*Seccion franja verde*/

#about-us {
    background-color: #5e7a51d8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231a3151' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: repeat; /* Se repite por toda la pantalla */
    background-size: auto; /* Tamaño del patrón */
    padding: 50px 20px;
    text-align: center;
}

h1, .sobre-nosotros {
    font-size: 4rem;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Dancing Script', cursive;

}

/*Contenedor de las biografias*/
.contenedor-biografias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: -20px;
}

/*Biografia individual*/
.biografia {
    background-color: #1a3151dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

/*Imagen dentro de la biografia*/
.foto {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.texto-biografia {
    padding: 10px;
}

.texto-biografia h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
}

.texto-biografia p {
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
    text-align: justify;
}

/*Linea divisora*/
.linea-divisora {
    border: 0;
    border-top: 2px solid #fff;
    width: 80%;
    margin: 10px auto;
}


/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedor-biografias {
        flex-direction: column; /* Apilar las biografías en columna */
        align-items: center; /* Centrar contenido */
    }

    .biografia {
        max-width: 60%; /* Ocupa el 90% del ancho disponible */
    }

    .sobre-nosotros {
        font-size: 3rem; /* Reducir el tamaño del título */
    }
}

@media (max-width: 480px) {


    .texto-biografia h2 {
        font-size: 1.2rem; /* Reducir tamaño del nombre */
    }

    .texto-biografia p {
        font-size: 0.9rem; /* Reducir tamaño del texto */
    }

    .sobre-nosotros {
        font-size: 3rem; /* Reducir aún más el tamaño del título */
    }
}



/*Section historia de amor*/

#historia-de-amor {
    padding: 2rem;
    margin: 0 auto;
    max-width: 100  ;
    width: 100%;
    box-sizing: border-box;
    background-color: #5e7a51d8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231a3151' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: repeat; /* Se repite por toda la pantalla */
    background-size: auto; 
} 


.love-story {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;

}

.historia-fila1, .historia-fila2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 20px;
}


.historia-texto {
    flex: 1;
    padding: 1rem;
    text-align: left;
    line-height: 1.5rem;
}

.historia-texto h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.historia-texto p {
    font-size: 1.7rem;
    line-height: 1.5rem;
    color: black;
}

.foto-historia {
    width: 100%;
    height: 300px;
    border-radius: 30%;
    object-fit: cover;
}

.historia-fila1 {
    flex-direction: row;
}

.historia-fila2 {
    flex-direction: row-reverse;
}

/* Media queries para dispositivos pequeños */
@media (max-width: 768px) {
    .historia-fila1, .historia-fila2 {
        flex-direction: column;
        text-align: center;
    }

    .love-story {
        font-family: 'Dancing Script', cursive;
        color: #fff;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    
    }

    .historia-texto h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .historia-texto p {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .foto-historia {
        width: 70%;
        height: 300px;
        margin-bottom: 1rem;
        border-radius: 20%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .historia-fila1, .historia-fila2 {
        flex-direction: column;
        text-align: center;
    }

    .love-story {
        font-family: 'Dancing Script', cursive;
        color: #fff;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    
    }

    .historia-texto h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .historia-texto p {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .foto-historia {
        width: 70%;
        height: 300px;
        margin-bottom: 1rem;
        border-radius: 20%;
        object-fit: cover;
    }
}

/*Seccion galeria*/

#galeria {
    padding: 2rem;
    background-color: #5e7a51d8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231a3151' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: repeat; /* Se repite por toda la pantalla */
    background-size: auto; 
}

.titulo-galeria {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
}

.contenedor-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0 1rem;
}

.contenedor-galeria img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.contenedor-galeria img:hover{
    transform:scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Media query: filas de 3 fotos en pantallas pequeñas */
@media (max-width: 768px) {
    .contenedor-galeria {
        grid-template-columns: repeat(4, 1fr); /* Máximo 3 fotos por fila */
        gap: 0.5rem; /* Reducimos el espacio entre imágenes */
    }
}

/* Media query: filas de 2 fotos en pantallas más pequeñas (como móviles) */
@media (max-width: 480px) {
    .contenedor-galeria {
        grid-template-columns: repeat(3, 2fr); /* Máximo 2 fotos por fila */
        gap: 0.5rem;
    }
}

/* Modal: Oculto por defecto */
.modal {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    z-index: 1000;
    overflow: hidden;
  }
  
  /* Imagen dentro del modal */
  .contenedor-modal {
    max-width: 85%; /* Máximo 90% del ancho de la ventana */
    max-height: 75%; /* Máximo 80% del alto de la ventana */
    margin: auto;
    display: block;
    width: auto; /* Ajuste automático según la proporción */
    height: auto; /* Mantener proporciones */
    border-radius: 10px; /* Esquinas redondeadas opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para un efecto elegante */
    object-fit: contain;
  }
  
  /* Botón para cerrar el modal */
  .close {
    position: absolute; /* Posición fija dentro del modal */
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1100; /* Asegurarnos de que esté sobre la imagen */
  }
  
  .close:hover {
    color: #f1c40f; /* Cambia el color al pasar el mouse */
  }

/* Media Query: Tablets */
@media (max-width: 768px) {
    .contenedor-modal {
      max-width: 90%;
      max-height: 80%;
    }
  }
  
  /* Media Query: Móviles */
  @media (max-width: 480px) {
    .contenedor-modal {
      max-width: 95%;
      max-height: 85%;
      border-radius: 8px;
    }
  
    .close {
      font-size: 24px;
      top: 10px;
      right: 15px;
    }
  }


  /* Sección Detalles de la boda */
#detalles-boda {
    background-color: #5e7a51d8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231a3151' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: repeat; /* Se repite por toda la pantalla */
    background-size: auto; 
    padding: 2rem;
    text-align: center;
  }
  
  .titulo-detalles {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  /* Contenedor de tarjetas */
  .contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
  
  /* Tarjetas individuales */
  .tarjeta {
    background-color: #1a3151dc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .tarjeta:hover {
    transform: scale(1.05);
  }
  
  /* Imagen de la tarjeta */
  .imagen-tarjeta {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  /* Título de la tarjeta */
  .titulo-tarjeta {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
    color: #fff;
  }
  
  /* Descripción de la tarjeta */
  .descripcion-tarjeta {
    font-size: 1rem;
    margin: 0 1rem 1rem;
    color: #fff;
  }
  
  /* Botón del mapa */
  .boton-mapa {
    display: inline-block;
    margin: 1rem 0 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #5e7a51d8;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .boton-mapa:hover {
    background-color: #5e7a51d8;
  }
 /*Crear mediaquerys dependiendo del gusto*/


 /*Seccion para la frase en la franja azul */

/* Franja azul */
.franja-mensaje {
    background-color: #1a3151; /* Azul principal */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 1.5rem 1rem; /* Espaciado interno */
    font-family: 'Dancing Script', cursive; /* Fuente elegante */
    font-size: 3rem; /* Tamaño del texto */
    line-height: 2; /* Altura de línea */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombras sutiles */
  }
  
  /* Mensaje de amor */
  .mensaje-amor {
    margin: 0; /* Elimina el margen por defecto */
    font-style: italic; /* Cursiva para darle un toque romántico */
    max-width: 800px; /* Limitar el ancho del texto */
    margin-left: auto;
    margin-right: auto;
  }


  /*Seccion del video*/

  /* Sección del video */
  #video-yt {
    background-color: #5e7a51d8;
    margin-top: 0;
    padding: 2rem 0; /* Añadimos un poco de padding para que no quede pegado a los bordes */
  }
  
  .video-youtube {
    display: block;
    flex-direction: column;
    align-items: center;         /* Centra el contenido horizontalmente */
    justify-content: center;     /* Centra el contenido verticalmente */
    text-align: center;
    margin: 2rem 1rem;
    pointer-events: none;
  }
  
  .titulo-video {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem; /* Tamaño del título */
    color: #fff;
    margin-bottom: 2rem; /* Separación del título con el video */
  }
  
  /* Estilos para el iframe del video */
  .video-embed {
    pointer-events: auto;
    display: block;
    margin: 0 auto;
    width: 100%;           /* El iframe ocupa el 100% del contenedor */
    max-width: 800px;      /* El ancho máximo será de 800px */
    height: 450px;         /* Altura estándar del video */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  }
  

  /* Consultas de medios para dispositivos más pequeños */
@media (max-width: 768px) {
    .video-embed {
      height: 300px; /* Reducimos la altura en pantallas pequeñas */
      max-width: 90%; /* Hacemos que el video ocupe el 90% del ancho disponible */
    }
  
    .titulo-video {
      font-size: 2rem; /* Reducimos el tamaño de la fuente en móviles */
    }
  }

  @media (max-width: 480px) {
    .video-embed {
        display: block;
        height: 200px; /* Reducimos la altura en pantallas móviles */
        max-width: 90%; 
    }

    .titulo-video {
        font-size: 2rem;
    }
  }


/*Seccion codigo de veestimenta*/

  #codigo-de-vestimenta {
    padding: 40px 20px;
    background-color: #5e7a51d8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231a3151' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: repeat; /* Se repite por toda la pantalla */
    background-size: auto; 
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 0;
}

.titulo-seccion {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 500;

}

.descripcion {
    font-weight: 500;
    font-size: 2rem;
    color: #1A1A1A;
    margin-bottom: 20px;
}

.contenedor-atuendos {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    border-radius: 8px;
    }


.atuendo-hombre {
    width: 45%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;

}

/*Seccion atuendo hombre before*/

.atuendo-hombre::before {
    content: "";
    display:contents;
    background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23000000%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22199px%22%20height%3D%22199px%22%20viewBox%3D%22-11.5%20-11.5%20118.84%20118.84%22%20xml%3Aspace%3D%22preserve%22%20stroke%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3Cpath%20transform%3D%22translate%28-11.5%2C%20-11.5%29%2C%20scale%283.7137500000000006%29%22%20d%3D%22M16%2C30.30060423891011C18.230787830979523%2C29.99148775444828%2C20.077917957272874%2C28.419635480049834%2C21.69641314682789%2C26.853608446694523C23.084077224819087%2C25.51092947342692%2C23.39102035556869%2C23.438411686556893%2C24.626086156292217%2C21.9541573665412C26.016710996248463%2C20.28295820855542%2C29.282411895696214%2C19.796258709453756%2C29.376330630105173%2C17.624180593344043C29.473664910406537%2C15.373110436571286%2C25.701146084674274%2C14.72615759539371%2C25.031643449590945%2C12.574749443868019C24.293632919952106%2C10.203195119546098%2C27.365095858134392%2C6.916721117391707%2C25.52507970493106%2C5.248407594393523C23.697129342087717%2C3.5910339325417664%2C20.744897454318416%2C7.0582166063644705%2C18.339739025335483%2C6.507305619442484C15.997627049805935%2C5.97083567036457%2C14.977292708692058%2C1.8201208186687858%2C12.621475260077665%2C2.2927863039610266C10.319700660772185%2C2.7546087633599834%2C11.126846624627298%2C6.979538241565684%2C9.212557448417073%2C8.338561140510947C6.934677758706703%2C9.95571005292728%2C2.350480110914217%2C7.840548873979088%2C1.2130400010794329%2C10.392045784081738C0.11249049788876597%2C12.860789968963585%2C4.441343662355601%2C14.719371101121379%2C5.213263331259304%2C17.309746958814767C5.812139218736497%2C19.319429705827588%2C4.388590566516068%2C21.544038597769493%2C5.121745528585093%2C23.50871691083659C5.904979283357864%2C25.60759429921509%2C7.50976200889757%2C27.369659114190153%2C9.410045324478357%2C28.556109587908843C11.365941466249271%2C29.777282180922647%2C13.716006380040318%2C30.617093359269525%2C16%2C30.30060423891011%22%20fill%3D%22%2300ffff%22%20strokewidth%3D%220%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%20%3Cg%3E%20%3Cg%3E%20%3Cpolygon%20points%3D%2247.918%2C39.699%2052.742%2C12.66%2048.872%2C7.32%2050.771%2C3.511%2045.066%2C3.511%2046.969%2C7.32%2043.093%2C12.66%20%22%3E%3C%2Fpolygon%3E%20%3Cpath%20d%3D%22M75.541%2C86.669h7.621l-1.902-32.388L77.443%2C11.43L59.35%2C3.812l-1.905-3.809l-1.903%2C7.618l-7.623%2C43.807L40.301%2C7.618%20L38.393%2C0L36.49%2C3.809l-18.094%2C7.617l-3.811%2C42.855l-1.902%2C32.388h7.619l6.952-42.032l2.568%2C9.639l-7.621%2C32.045l21.905%2C9.523%20l3.809-18.743l3.807%2C18.743l21.909-9.523l-7.625-32.045l2.57-9.639L75.541%2C86.669z%20M67.999%2C27.259l-7.741%2C1.073l5.119-6.312%20l2.622%2C2.026V27.259z%22%3E%3C%2Fpath%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}


.atuendo-mujer {
    width: 45%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;


}

.atuendo-mujer::before {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='191px' height='191px' viewBox='0 0 512.00 512.00' fill='%23000000' stroke='%23000000' transform='matrix(1, 0, 0, 1, 0, 0)rotate(0)' stroke-width='0.00512'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0' transform='translate(0,0), scale(1)'%3E%3Cpath transform='translate(0, 0), scale(16)' d='M16,29.712492629885674C19.841367007692604,29.573252983080252,22.162432685448344,25.828648596433357,24.467114667388962,22.752298627858586C26.644090186898172,19.84641459548073,29.15383092388229,16.721680469790577,28.39174614033133,13.171664807170048C27.6218698252284,9.58535389283697,24.14877855786055,7.5326389325254475,20.85388420635205,5.920805589025443C17.52437188425084,4.292037438720454,13.914306682904716,3.1939655366897712,10.399231807205103,4.369885010419617C6.244509435225594,5.7597896690449515,1.8060477289307009,8.269163582119974,0.9756545662661988,12.57079119776681C0.16087943799307136,16.791513802316864,3.8931397947884587,20.162659339316672,6.726525375980602,23.395349235131725C9.320267883016797,26.35462355716524,12.06750889437281,29.85503529022416,16,29.712492629885674' fill='%2300ffff' strokewidth='0'%3E%3C/path%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath fill='%23000000' d='M342.842 462.946c-2.029 31.63-171.708 29.834-173.863 0-6.223-162.824 18.646-224.226 26.506-280.24 1.902-13.533-14.843-37.589-19.016-54.323-8.917-35.36 3.856-66.262-8.917-95.42L185.977 26C196.373 66.568 223.8 95.547 256 95.547c32.201 0 59.627-28.979 70.023-69.547l18.425 6.962c-12.773 29.159 0 60.06-8.917 95.42-4.226 16.735-20.96 40.79-19.016 54.324 7.68 56.025 32.55 117.427 26.327 280.24z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 100px;
    height: 80px;
    margin-right: 20px;
}


.atuendo-mujer:hover {
    transform: scale(1.05);
}

.atuendo-hombre:hover {
    transform: scale(1.05);
}

.atuendo h3 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 15px;
}

.atuendo ul {
    list-style-type: none;
    padding-left: 0;
    color: #555;
}

.atuendo ul li {
    margin: 10px;}

.consejos {
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
}

.consejos h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.consejos ul {
    list-style-type: none;
    padding-left: 0;
    color: #555;
}

.consejos ul li {
    margin: 10px 0;
}

.consejos:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/*Media queries*/

  /*Para pantallas de 768px y menos*/

  /*Para pantallas de 480*/



/*Seccion galeria de las ultimas 9 fotos subidas*/

 .galeria-drive {
        color: #1A1A1A;
    }

.gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
      }
      
.thumbnail {
        width: 600px;  /* Tamaño de la miniatura, puedes ajustarlo */
        height: 600px; /* Tamaño de la miniatura */
        object-fit: cover;  /* Asegura que la imagen se recorte adecuadamente */
        border-radius: 8px;  /* Bordes redondeados (opcional) */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera (opcional) */
      }

  #photoGallery img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  #photoGallery img:hover {
    transform: scale(1.1);
  }
  
 







  /* Estilo general para la sección seleccionar fotos */
  #subir-fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #5e7a51d8;
    font-family: Arial, sans-serif;
    color: #fff;
  }

  /* Contenedor de la sección */
  .contenedor-subir-fotos {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding-top: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }

.texto-titulo {
    display: flex;
    margin-top: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem; /* Tamaño del título */
    color: #fff;
    margin-bottom: 5rem; 
}

  /* Título */
  .titulo-subir-fotos {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  /* Texto descriptivo */
  .texto-subir-fotos {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  /* Input de archivo */
  form input[type="file"] {
    display: block;
    margin: 0 auto 20px auto;
    font-size: 1rem;
    color: #333;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    max-width: 100%;
    text-align: center;
  }

  form input[type="file"]::-webkit-file-upload-button {
    font-size: 1rem;
    padding: 8px 15px;
    background: #dd2476;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  form input[type="file"]::-webkit-file-upload-button:hover {
    background: #1a3151;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }

  /* Botón de enviar */
  .upload-button {
    padding: 12px 25px;
    font-size: 1rem;
    color: #fff;
    background: #1a3151;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 10px;
  }

  .upload-button:hover {
    background: #dd2476;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }


  /*Media querys de form subir fotos*/
  @media (max-width: 768px) {

    .texto-titulo {
        margin-top: auto;
        display: flex;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 2rem;
        margin-top: 10px;
        
    }

    .contenedor-subir-fotos {
        margin-bottom: auto;
        max-width: 85%;
        flex-direction: column;
        text-align: center;
    }
    
    .titulo-subir-foto {
        text-align: center;
    }
  }

  @media (max-width: 480px) {
    .texto-titulo {
        max-width: 85%;
        margin-top: 7rem;
        display: flex;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;

        
    }

    .contenedor-subir-fotos {
        flex-direction: column;
        text-align: center;
    }

    .titulo-subir-foto {
        text-align: center;
    }

  }




  @media (max-width: 374px)  {
    #subir-fotos {
        margin-top: auto;

    }

    .texto-titulo {
        padding: 10px;
        margin-top: 10rem;
        display: flex;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .contenedor-subir-fotos {
        width: 80%;

        padding: 20px;
        flex-direction: column;
        margin-bottom: auto;
        text-align: center;
        align-items: center;
    }

    .titulo-subir-foto {
        text-align: center;
    }

  }






  /*Seccion confirmar asistencia*/
  #confirmar-asistencia {
    background-color: #5e7a51d8; /* Fondo claro para la sección */
    padding: 2rem; /* Espaciado alrededor */
    text-align: center; /* Centra el contenido */
}

.confirmacion {
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    padding: 1.5rem;
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.titulo-confirmacion {
    font-family: 'Dancing Script', cursive; /* Fuente elegante */
    font-size: 2rem; /* Tamaño del título */
    color: #333; /* Color del texto */
    margin-bottom: 1rem;
}

.texto-confirmacion {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #555; /* Color de texto más claro */
    margin-bottom: 2rem; /* Separación con el botón */
}

.boton-confirmar {
    display: inline-block; /* Se comporta como un botón */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de texto */
    color: white; /* Texto blanco */
    background-color: #25D366; /* Verde WhatsApp */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

.boton-confirmar:hover {
    background-color: #1ebd5a; /* Verde más oscuro al pasar el mouse */
}


@media (min-width: 768px) and (max-width: 1812px) {
    .titulo-confirmacion,
    .texto-titulo {
        font-size: 2.5rem;
    }

    .boton-confirmar,
    .upload-button {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 480px) {

    .confirmacion {
        margin-top: 6rem;
    }
}


@media (max-width: 390px) {
    #confirmar-asistencia {
        margin-top: auto;
        
    }
    #subir-fotos {
        padding-bottom: 3rem;
        margin-bottom: auto;
    }

    .titulo-confirmacion {
        font-size: 1.6rem;
    }
    .texto-titulo {
        font-size: 1.5rem;
        margin: auto;
    }

    .boton-confirmar,
    .upload-button {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
}

